# See https://github.com/github/linguist

## We explicitly want on this repository some data-type language files
*.csv linguist-detectable
*.json linguist-detectable
*.jsonld linguist-detectable
*.json5 linguist-detectable
*.sql linguist-detectable
*.graphql linguist-detectable
*.gql linguist-detectable
*.graphqls linguist-detectable

## Markdown are documentation (this could be changed later)
*.md linguist-documentation

## These files are HTML liquid templates
_includes/fn/* linguist-language=Liquid

## Files on systema/, at the moment, will be marked as vendored
## We may change a bit this later
systema/* linguist-vendored

Gemfile linguist-vendored
robots.txt linguist-vendored

## This (test) file on schema needs to be ignored
schema/graphql.schema.mjs linguist-generated