title: "hapi.etica.ai"
description: "Auxilium Humanitarium API documentÅrum"
repository: HXL-CPLP/Auxilium-Humanitarium-API
baseurl: ""

# see https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
# lang: 'pt'

# @see https://github.com/kurtsson/jekyll-multiple-languages-plugin

# include: [CONTRIBUTING.md]

# https://github.com/pages-themes/cayman
# theme: jekyll-theme-cayman
# theme: minima
# show_downloads: false
# google_analytics: [Your Google Analytics tracking ID]

# https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
twitter:
  username: EticaAI
  card: summary

exclude:
  - vendor/
  - openapitools.json
  - _systema/
  - "api/*/*/*/html/*.md"
  - "api/*/*/*/html2/*.md"
  - "api/*/*/*/mysql-schema/*.md"
  - "api/*/*/*/mysql-schema/*.md"
  - api/README.md
  - api/UN/README.md
  - api/UN/CODV1API/README.md
  - api/UN/reliefweb/README.md
  - api/UN/UNdata/README.md
  - api/UN/UNSD/README.md
  - api/XZ/worldbank/README.md
  - api/XZ/README.md
  - schema/iso/iso639-3/eng/README.md
  - schema/iso/iso15924/eng/README.md
  - README-old.md
  # _[por] Evitar loop infinito com _plugins/jekyll_hapi_hooks.rb e
  #        jekyll serve --watch
  # [por]_
  - _data/api.l10n.json
  - _data/navigationem.l10n.json
  - _data/referens.l10n.json
  - _data/schema.l10n.json

keep_files:
  - _assets/

# GitHub pages related
# - https://docs.github.com/en/enterprise-server@3.0/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll
# - https://pages.github.com/versions/
# - https://jekyllrb.com/docs/front-matter/

# @see https://github.com/jekyll/jekyll-sitemap
url: "https://hapi.etica.ai" # the base hostname & protocol for your site
# plugins:
#   - jekyll-sitemap


# @see https://github.com/toshimaru/jekyll-toc
toc:
  min_level: 2
  max_level: 6
  ordered_list: false
  no_toc_section_class: no_toc_section
  list_id: toc
  list_class: section-nav
  sublist_class: ''
  item_class: toc-entry
  item_prefix: toc-

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "defallo"
      linguam: "lat-Latn"
      linguam_alternum: "lat-Latn"
  - scope:
      path: "api/*/*/*/html"
    values:
      sitemap: false
  - scope:
      path: "api/*/*/*/html2"
    values:
      sitemap: false

# # @see https://github.com/avillafiorita/jekyll-datapage_gen
# page_gen-dirs: true
# page_gen:
#   # referens: api-BR-portais-ckan-brasil
#   - data: 'api'
#     template: 'api'
#     # name: 'title'
#     name_expr: "record['uid'].split('/').last"
#     # name_expr: "record['slug'] or record['lid']"
#     # dir: 'uid'
#     # "/mul/api/XZ/HXL-Proxy/".chomp("/mul/api/XZ/HXL-Proxy/".split('/').last + "/")
#     # record['uid'].chomp(record['uid'].split('/').last + "/")
#     dir_expr: "record['uid'].chomp(record['uid'].split('/').last + '/')"
#     # dir_expr: "record['uid']"
#     # dir_expr: "record['linguam'] + '/' + record['typum'] + '/' + record['gid']"
#     # filter_condition: "record['linguam'] != 'mul'"
#     # debug: true

#   # - data: 'api'
#   #   template: 'api'
#   #   name: 'slug'
#   #   dir: 'eng/api-TEMP/BR'
#   #   filter_condition: "record['gid'] == '/api/BR' and record['linguam'] == 'por'"
#   #   debug: true


# @see https://github.com/envygeeks/jekyll-assets
# > TODO: talvez https://rdyar.github.io/2017/10/01/speed-up-jekyll-by-using-gulp-for-sass-and-other-assets/ (?)

# _config.yml
# assets:
#   source_maps: true
#   destination: "/assets"
#   compression: false
#   gzip: false
#   defaults:
#     integrity:
#       {css,img,js}: false
#   caching:
#     enabled: true
#     path: ".jekyll-cache/assets"
#     type: file
#   # --
#   # Assets you wish to always have compiled.
#   #   This can also be combined with raw_precompile which
#   #   copies assets without running through the pipeline
#   #   making them ultra fast.
#   # --
#   precompile: []
#   raw_precompile: [
#     #
#   ]
#   # --
#   # baseurl: whether or not to append site.baseurl
#   # destination: the folder you store them in on the CDN.
#   # url: the CDN url (fqdn, or w/ identifier).
#   # --
#   cdn:
#     baseurl: false
#     destination: false
#     url: null
#   # --
#   # See lib/jekyll/assets/config.rb
#   #   for a list of defaults
#   # --
#   sources:
#     - _assets/css
#     - _assets/js
#   # plugins:
#   #   css: { autoprefixer: {}}
#   #   img: { optim: {}}
