---
layout: null
title: "Plures linguae index - Auxilium Humanitarium API documentōrum"
description: Plures linguae index - Auxilium Humanitarium API documentōrum
linguam: mul-Zyyy
permalink: /mul-Zyyy/
categories: ['index', 'linguam-mul-Zyyy']
tags: ['index', 'linguam-mul-Zyyy']
noindex: true
sitemap:
  exclude: 'yes'

# Trivia:
#  - mappam
#    - https://en.wiktionary.org/wiki/mappa#Latin
#  - '🌐'
#    - https://emojipedia.org/globe-with-meridians/
---

<!doctype html>
<html lang="{{ page.lang | default: 'mul' }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>{{ page.title }}</title>
  <meta name="robots" content="noindex,nofollow">
</head>

<body>
  <header>
    <div class="container">
      <h1 lang="la">Mappam Situm - Auxilium Humanitarium API documentōrum</h1>
      <div class="alert alert-warning" role="alert">
        <p>{% _🗣️ opus_in_progressu_emoji_nomen 🗣️_%}</p>
        <p>{% _🗣️ 📝eng-Latn📝 opus_in_progressu_emoji_nomen 📝eng-Latn📝 🗣️_%}</p>
        <p>{% _🗣️ 📝spa-Latn📝 opus_in_progressu_emoji_nomen 📝spa-Latn📝 🗣️_%}</p>
      </div>
      <nav>
        <h2>{% _🗣️ mensam_de_contentis_in_eodem_nomen 🗣️_ %}</h2>
        <ol class="list-unstyled">
          <li>
            <a href="#api">API</a>
            <ul>
              {% for globum in site.data.hapi.globum %}
              <li>
                <a href="#api-{{ globum.gid | slugify }}">{{ globum.namen }}</a>
                <ul>
                  {% for xapi in globum.collectionem_xapi %}
                  <li>
                    <a href="#{{ xapi.url | slugify }}">{{ xapi.lid | default: xapi['datum']['lid'] }}</a>
                    <ul>
                      {% for api_alt in xapi.alternativum %}
                      <li>
                        <a href="#{{ api_alt.url | slugify }}">{{ api_alt.title }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>

              {% endfor %}
            </ul>
          </li>
        </ol>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <section>
        <article>
          <h2 id="api">API</h2>
          {% for globum in site.data.hapi.globum %}
          <article>
            <header>
              <h3 id="api-{{ globum.gid | slugify }}">
                {{ globum.namen }}
              </h3>
              {{ globum.descriptionem | default: '<mark>_[lat] Ignotum textum. Adiuva me 🥺[lat]_</small> '}}
            </header>

            {% for xapi in globum.collectionem_xapi %}
            <article style="padding: 1em">
            <h4 id="{{ xapi.url | slugify }}">
              <a href="#{{ xapi.url | slugify }}">🔗</a>
              {{ xapi.lid | default: xapi['datum']['lid'] }}
            </h4>
              <div class="list-group">
                {% for api_alt in xapi.alternativum %}
                <a href="{{ api_alt.url }}" hreflang="{{ api_alt.hreflang }}"
                  class="list-group-item list-group-item-action">
                <article>
                  <div  class="d-flex w-100 justify-content-between">
                    <h5 id="{{ api_alt.url | slugify }}" class="mb-1">
                      {{ api_alt.title }}
                    </h5>
                    <small>{{ api_alt.linguam }}</small>
                  </div>
                  <p class="mb-1">{{ api_alt.description | default: "<mark>_[por] TODO: adicionar descrição [por]_</mark>" }}</p>
                  <small>{% _🗣️ commune_agnitionem_et_gratiam_nomen 🗣️_ %}: <mark>_[por] TODO: adicionar lista de colaboradores [por]_</small></small>
                </article>
                </a>
                {% endfor %}
            </div>
            <!-- {{ xapi | inspect }} -->

            </article>
            {% endfor %}
            <!-- {{ globum | inspect }} -->
            <br>
          </article>
          {% endfor %}
        </article>
      </section>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>

</html>
