<!-- _includes/api-corporeum-ltr.html -->
<!-- trivia: corporeum, https://en.wiktionary.org/wiki/corporeus#Latin -->

{% assign r_gid = site.data.referens['gid'] %}


<article>
  <header>
    <h1>{{ page.title }}</h1>
    {{ page.description | markdownify }}

    <div class="alert alert-danger" role="alert">
      <p lang="en">👷🏽 Work in progress 👷🏽</p>
      <p lang="pt">👷🏽 Trabalho em progresso 👷🏽</p>
    </div>

    <!-- Talvez algo como https://afeld.github.io/bootstrap-toc/ ? -->
    <nav>
      <h2>{% de_lat_codicem Temp_TOC %}</h2>
      <ul class="list-unstyled">
        <li>
          <a href="#api">API</a>
          <ul>
            {% for api_gid in site.data.referens['api_gid'] -%}
            <li>
              <a href="#{{ r_gid[api_gid]['hashtag']['api'] }}">
                {{ r_gid[api_gid]['namen'] }}
              </a>
            </li>
            {%- endfor %}
          </ul>
        </li>
        <li>
          <a href="#schema">Schema</a>
          <ul>
            {% for schema_gid in site.data.referens['schema_gid'] -%}
            <li>
              <a href="#{{ r_gid[schema_gid]['hashtag']['api'] }}">
                {{ r_gid[schema_gid]['namen'] }}
              </a>
              <ul>
                {% for schema in site.data.schema -%}
                <li>
                  <a href="#{{ schema['hashtag'] }}">
                    {{ schema['namen'] }}
                  </a>
                </li>
                {%- endfor %}
              </ul>
            </li>
            {%- endfor %}
          </ul>
        </li>
        <li>
          <a href="#agnitionem">{% de_lat_codicem agnitionem_et_gratiam_nomen %}</a>
          <ul>
            <li>
              <a href="#agnitionem-voluntarius">
                {% de_lat_codicem voluntarius_auxilio_tuo_nomen %}
              </a>
            </li>
            <li>
              <a href="#agnitionem-communitatem">
                {% de_lat_codicem agnitionem_communitatem_nomen %}
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#licentiam">{% de_lat_codicem licentiam_nomen %}</a>
        </li>
      </ul>
    </nav>
  </header>

  <article>
    <h2 id="api">API</h2>
    <p>👷🏽 TODO 👷🏽</p>
    {% for api_gid in site.data.referens['api_gid'] -%}
      <h3 id="{{ r_gid[api_gid]['hashtag']['api'] }}">
        {{ api_gid }}
      </h3>
    {%- endfor %}
  </article>

  <article>
    <h2 id="schema">Schema</h2>
    <p>👷🏽 TODO 👷🏽</p>
    {% for schema_gid in site.data.referens['schema_gid'] -%}
      <h3 id="#{{ r_gid[schema_gid]['hashtag']['api'] }}">
        {{ r_gid[schema_gid]['namen'] }}
      </h3>
      <article>
        {% for schema in site.data.schema -%}
          <h4 id="{{ schema['hashtag'] }}">
            {{ schema['namen'] }}
          </h4>
        {%- endfor %}
      </article>
    {%- endfor %}
  </article>

  <aside>
    <h2 id="agnitionem">{% de_lat_codicem agnitionem_et_gratiam_nomen %}</h2>
    <h3 id="agnitionem-voluntarius">{% de_lat_codicem voluntarius_auxilio_tuo_nomen %}</h3>
    <ul>
    {% for humanum in site.data.agnitionem.humanum -%}
      <li>{{ humanum.namen.baptismum }}</li>
    {%- endfor %}
    </ul>
    <h3 id="agnitionem-communitatem">{% de_lat_codicem agnitionem_communitatem_nomen %}</h3>
    <ul>
    {% for communitatem in site.data.agnitionem.communitatem -%}
      <li>{{ communitatem.namen.baptismum }}</li>
    {%- endfor %}
    </ul>
  </aside>

  <footer>
    <h2 id="licentiam">{% de_lat_codicem licentiam_nomen %}</h2>
    {% de_markdown %}{% de_lat_codicem Temp_licença_aviso de_markdown %}{% endde_markdown %}
  </footer>
</article>


[{% de_textum por-Latn Tradução2 %}]


[{% de_markdown %}{% de_textum por-Latn Tradução2 %}{% endde_markdown %}]

[{% incognitum_phrasim_est %}{% de_textum por-Latn Unknow translation %}{% endincognitum_phrasim_est %}]
