<!-- _includes/index-corporeum.html -->
<div>

  <!-- _[lat-Latn] Application Programming Interface [neolatīnum; de eng] [lat-Latn]_ -->
  <div>
    <h2 id="{% _🗣️ 🔎🔕🔍 Hapi_API_slug 🔎🔕🔍 🗣️_ %}">{% _🗣️ abbreviationem_XZ_API_nomen 🗣️_ %}</h2>
    {% include api/index.html initiale_html_hN=3 %}
  </div>

  <!-- _[lat-Latn] Datum Schēmam [lat-Latn]_ -->
  <article>
    <h2 id="{% _🗣️ 🔎🔕🔍 schemam_datum_slug 🔎🔕🔍 🗣️_ %}">{% _🗣️ schemam_datum_nomen 🗣️_ %}</h2>
    {% include schemam/index.html initiale_html_hN=3 %}
  </article>

  <article>
    <h2 id="translationem-memoriam">{% _🗣️ translationem_memoriam_nomen 🗣️_ %}</h2>
    <div class="alert alert-info" role="alert">
      <p>{% _🗣️ opus_in_progressu_emoji_nomen 🗣️_ %}</p>
    </div>

    {% include temporarium/tm.html %}
  </article>

  <aside>
    <h2 id="agnitionem">
      {% _🗣️ commune_agnitionem_et_gratiam_nomen 🗣️_ %}
      </h2>
    <h3 id="agnitionem-voluntarius">
      {% _🗣️ commune_voluntarius_auxilio_tuo_nomen 🗣️_ %}
      </h3>
    <ul>
    {% for humanum in site.data.agnitionem.humanum -%}
      <li>{{ humanum.nomen.baptismum }}</li>
    {%- endfor %}
    </ul>
    <h3 id="agnitionem-communitatem">
      {% _🗣️ commune_agnitionem_communitatem_nomen 🗣️_ %}
    </h3>
    <ul>
    {% for communitatem in site.data.agnitionem.communitatem -%}
      <li>{{ communitatem.nomen.baptismum }}</li>
    {%- endfor %}
    </ul>
  </aside>

  <section>
    <h2 id="licentiam">{% _🗣️ licentiam_nomen 🗣️_ %}</h2>
    <a href="https://unlicense.org/">
      <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png"
        alt="{% _🗣️ 🔎🔕🔍 dominium_publicum_nomen 🔎🔕🔍 🗣️_ %}">
    </a>
    <br>
    {% de_markdown %}{% _🗣️ Hapi_licentiam_Hapi_descriptionem 🗣️_ %}{% endde_markdown %}
  </section>
</div>
