<!-- Trivia: 'metaphysicam', https://en.wiktionary.org/wiki/metaphysica#Latin; 'caput', https://en.wiktionary.org/wiki/caput#Latin -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {% comment %}<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">{% endcomment %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  {% if page.noindex %}<meta name="robots" content="noindex,nofollow">{% endif %}

  {% if page.layout contains 'api' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.17.0/swagger-ui.css"
  integrity="sha384-EsNi7oBa+y4MD5KbpC28MUDGgPo3qn7XURKXTbKQwPyzE/vkRHg+1LEJAnuWqe8g" crossorigin="anonymous">
  <style>
    /* Hide some strange SVG not loading */
    .swagger-ui>div>svg {
        display: none;
    }
  </style>
  {% endif %}

  {%- feed_meta -%}
</head>
