<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %}{%- seo -%}{% endcomment %}
  {%- include meta-caput-seo.html -%}
  <!--
    _[por-Latn] Bootstrap CSS; Sobre RTL / LTR,
                @see https://getbootstrap.com/docs/5.0/getting-started/rtl/
    [por-Latn]_
  -->
  {% if page.htmldir == 'rtl' -%}
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-LPvXVVAlyPoBSGkX8UddpctDks+1P4HG8MhT7/YwqHtJ40bstjzCqjj+VVVDhsCo"
    crossorigin="anonymous">
  {%- else -%}
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
  {%- endif %}

  <link rel="stylesheet" href="/assets/css/hapi.css?{{ 'now' | date: '%s' }}">

  {% if page.noindex %}<meta name="robots" content="noindex,nofollow">{% endif %}

  {% if page.layout contains 'api' or page.openapi_filum != nil %}
  <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@3.49.0/swagger-ui.css"
  integrity="sha384-cV2XOZCR++vwjNcnG56raZiJn/a7fw78X9BkQ8S4Rgj5BAI1XfOvAMbRm9KmARdg"
  crossorigin="anonymous">
  {% endif %}

</head>
