<footer>
  <!-- <div class="container"> -->
  <div class="d-flex justify-content-center py-3">
    <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item">
        <a href="https://hapi.etica.ai">
          <img src="https://img.shields.io/badge/Site-hapi.etica.ai-blue"
          alt="hapi.etica.ai">
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/HXL-CPLP/Auxilium-Humanitarium-API">
          <img src="https://img.shields.io/badge/GitHub-HXL--CPLP%2FAuxilium--Humanitarium--API-lightgrey?logo=github&style=social"
            alt="HXL-CPLP/Auxilium-Humanitarium-API">
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/HXL-CPLP/Auxilium-Humanitarium-API">
          <img src="https://img.shields.io/github/stars/HXL-CPLP/Auxilium-Humanitarium-API?style=social"
            alt="GitHub Repo stars">
          </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/HXL-CPLP/Auxilium-Humanitarium-API/archive/refs/heads/main.zip">
          <img src="https://img.shields.io/badge/Download-.zip-brightgreen"
          alt="Download .zip">
        </a>
      </li>
    </ul>
    <!-- <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="//hapi.etica.ai" class="nav-link">🌐 Site</a>
        </li>
        <li class="nav-item">
          <a href="//github.com/HXL-CPLP/Auxilium-Humanitarium-API" class="nav-link">🐙🐱 GitHub</a>
        </li>
        <li class="nav-item">
          <a href="//github.com/HXL-CPLP/Auxilium-Humanitarium-API/archive/refs/heads/main.zip" class="nav-link">⬇️💾 Download</a>
        </li>
        <li class="nav-item">
          <a href="https://unlicense.org/" class="nav-link">
          <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" alt="Licentiam: Dominium publicum">
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</footer>
