<hr>

<footer>
  <!-- <div class="container"> -->
  <div class="d-flex justify-content-center py-3">
    <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item">
        <a href="https://hapi.etica.ai">
          <img src="https://img.shields.io/badge/Site-hapi.etica.ai-blue"
          alt="hapi.etica.ai">
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/HXL-CPLP/Auxilium-Humanitarium-API">
          <img src="https://img.shields.io/badge/GitHub-HXL--CPLP%2FAuxilium--Humanitarium--API-lightgrey?logo=github&style=social"
            alt="HXL-CPLP/Auxilium-Humanitarium-API">
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/HXL-CPLP/Auxilium-Humanitarium-API">
          <img src="https://img.shields.io/github/stars/HXL-CPLP/Auxilium-Humanitarium-API?style=social"
            alt="GitHub Repo stars">
          </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/HXL-CPLP/Auxilium-Humanitarium-API/archive/refs/heads/main.zip">
          <img src="https://img.shields.io/badge/Download-.zip-brightgreen"
          alt="Download .zip">
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://unlicense.org/">
          <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" alt="Licentiam: Dominium publicum">
        </a>
      </li>
    </ul>
  </div>
</footer>
