# ARQUIVO:         api/BR/brazilian-ckan-portals/eng/openapi.yaml
# LICENÇA:         SPDX-License-Identifier: Unlicense
#
# VERSÃO ONLINE:  https://editor.swagger.io/?url=https://hapi.etica.ai/api/BR/brazilian-ckan-portals/eng/openapi.yaml

openapi: 3.0.3
# NOTE: o arquivo atual, nesta data de 2021-05-02, usa OpenAPI 3.0 pois
#       a OpenAPI 3.1 é muito recente (lançada em 2021-02-15) e poucas
#       ferramentas tem suporte a ela. A migração para o 3.1 deve ser feita
#       eventualmente.
# @see https://spec.openapis.org/oas/v3.0.3
# @see https://spec.openapis.org/oas/v3.1.0

info:
  title: Brazilian CKAN data portals
  description: |
    (Working draft)

    **Versão em português: `api/BR/portais-ckan-brasil/por/openapi.yaml`**

    See discussion at <https://github.com/HXL-CPLP/COD-Services-API-doc/issues/4>

  version: "3" # 3 por causa que o CKAN usa 3, https://docs.ckan.org/en/2.9/api/

# Usamos na nomenclatura ISO 3166-2:BR
# https://en.wikipedia.org/wiki/ISO_3166-2:BR
# Sobre URNS do Brasil
#   - https://docs.google.com/spreadsheets/d/16SW1kOv01IKcdO5nZvGjnjat7DrUqFem4mcWC2OQbz4/edit#gid=332977705
servers:
  - url: https://data.humdata.org/api/3/action
    description: "(TODO: Remove this) HDX Production server"

  - url: https://dados.gov.br/api/3/action
    description: "{[ISO 3166-1:BR]} Portal Brasileiro de Dados Abertos"

  - url: https://dados.al.gov.br/api/3/action
    description: "{[urn:data:xz:iso:BR-AC][urn:data:un:p:BR27]} Alagoas em dados e informações"

  # CORS OK
  - url: https://dados.fortaleza.ce.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-CE][urn:data:un:p:BR2304400]} Fortaleza Dados Abertos"

  - url: https://dados.df.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-DF][urn:data:un:p:BR5300108]} Dados abertos Distrito Federal"

  # FIXME: não é mais CKAN http://www.transparencia.mg.gov.br/dados-abertos
  # - url: ???
  #   description: "{[urn:data:xz:iso:3166-2:BR-MG][urn:data:un:p:BR31]} Dados abertos – Estado de MG"

  - url: https://dados.pbh.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-MG][urn:data:un:p:BR3106200]} Portal de Dados Abertos – Prefeitura de Belo Horizonte"

  # HTTPS quebrada
  - url: http://web.transparencia.pe.gov.br/dados-abertos/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-PE][urn:data:un:p:BR26]} Dados Abertos – Portal da Transparência de Pernambuco"

  # CORS OK
  # HTTPS quebrada
  - url: http://dados.recife.pe.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-PE][urn:data:un:p:BR2611606]} Dados Recife"

  # FIXME: não é mais CKAN https://www.data.rio/
  #        Agora é arcgis

  # HTTPS quebrada
  - url: http://dados.natal.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RN][urn:data:un:p:BR2408102]} Portal da Transparência e Mobilidade Urbana de Natal"

  - url: https://dados.rs.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RS][urn:data:un:p:BR43]} Dados RS"

  - url: https://dados.tce.rs.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RS][urn:data:un:p:BR43]} Dados Abertos TCE-RS"

  # CORS OK
  - url: https://dados.portoalegre.rs.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RS][urn:data:un:p:BR4314902]} Dados Abertos POA"

  # HTTPS quebrada
  - url: http://dados.sc.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-SC][urn:data:un:p:BR42]} Dados Abertos SC"

  - url: https://www.governoaberto.sp.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-SP][urn:data:un:p:BR35]} Governo Aberto SP"

  # CORS OK
  # HTTPS quebrada
  - url: http://dados.prefeitura.sp.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-SP][urn:data:un:p:BR3550308]} Portal de Dados Abertos da Cidade de São Paulo"

tags:
  - name: "List and search"
    description: |
      Search an list collections

  - name: "Details"
    description: |
      Details about an item

paths:
  /package_list:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/package_list"

  /package_search:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/package_search"

  /vocabulary_list:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/vocabulary_list"

  /package_show:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/package_show"

  /resource_show:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/resource_show"

  /vocabulary_show:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/vocabulary_show"

  /tag_show:
    $ref: "../../../../schema/api/ckan/eng/ckan-openapi.yaml#/operationem/tag_show"
