<!-- _includes/schemam/index.html -->

{% assign h_1sx = include.initiale_html_hN %}
{% assign h_2sx = h_1sx | plus: 1 %}
{% assign h_3sx = h_2sx | plus: 1 %}

{% assign h1sx = h_1sx | | prepend: 'h' %}
{% assign h2sx = h_2sx | | prepend: 'h' %}
{% assign h3sx = h_3sx | | prepend: 'h' %}

{% for xschemam_global in site.data.hapi.xschemam %}
  {% if xschemam_global.collectionem_xschemam %}
    <section>
      <{{ h1sx }} id="{% _🗣️ Hapi_schemam_slug 🗣️_ %}--{{ xschemam_global.gid }}">
        {{ xschemam_global.nomen }}
      </{{ h1sx }}>

      {% for xschemam in xschemam_global.collectionem_xschemam %}
        {% if xschemam.alternativum_linguam contains page.linguam %}
          {% assign rem = xschemam.alternativum | where: 'linguam', page.linguam | first %}
          <article>
            {% include schemam/item.html schemam=rem initiale_html_hN=h_2sx %}
          </article>
        {% else %}
          <section>
            TODO: X-default fallback
            {{ xschemam.alternativum_linguam }}
          </section>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
{% endfor %}
