/**
 * @ARCHĪVUM       _assets/css/hapi.css
 * @LICENTIAM      Dominium publicum
 * @DĒSCRĪPTIŌNEM  _[por] Arquivo de CSS carregado em todo site ao final
 *                        de cada página
 *                 [por]_
 */

/* _[eng] API layoyt; Hide some strange SVG not loading [eng]_ */
.swagger-ui>div>svg {
  display: none;
}

.incognitum-phrasim:after, .incognitum-phrasim:before {
  content: attr(lang);
  color:mediumseagreen;
  font-style: italic;
  vertical-align: sub;
}

.peritum-est, .peritum-est--block, .peritum-est--inline, .peritum-est--inline-block, .peritum-est--list-item {
  display: none;
}
.peritum-modum-est .peritum-est, .peritum-modum-est .peritum-est--block {
  display: block;
}
.peritum-modum-est .peritum-est--inline {
  display: inline;
}
.peritum-modum-est .peritum-est--inline-block {
  display: inline-block;
}
.peritum-modum-est .peritum-est--list-item {
  display: list-item;
}
