<h3 id="iso-639-3">ISO 639-3</h3>
<ul>
  <li><strong>Descrição</strong>: Conjuntos de códigos para um número de sistemas de escrita –
    Parte 3:códigos Alpha-3 para cobertura abrangente de idiomas</li>
  <li><strong>Sites oficiais</strong>:<ul>
      <li><a href="http://iso639-3.sil.org/">http://iso639-3.sil.org/</a></li>
    </ul>
  </li>
  <li><strong>Download</strong>:
    <ul>
      <li><a
          href="https://iso639-3.sil.org/code_tables/download_tables">https://iso639-3.sil.org/code_tables/download_tables</a>
        <ul>
          <li><a
              href="https://iso639-3.sil.org/sites/iso639-3/files/downloads/iso-639-3.tab">https://iso639-3.sil.org/sites/iso639-3/files/downloads/iso-639-3.tab</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li><strong>Wikipédia</strong>:
    <ul>
      <li>eng: <a href="https://en.wikipedia.org/wiki/ISO_639-3">https://en.wikipedia.org/wiki/ISO_639-3</a></li>
    </ul>
  </li>
</ul>
<h4 id="in-english">In English</h4>
<ul>
  <li>SQL:<ul>
      <li><a href="/schema/iso/iso639-3/eng/iso639-3.sql">/schema/iso/iso639-3/eng/iso639-3.sql</a></li>
    </ul>
  </li>
  <li>JSON Schema:<ul>
      <li><a href="/schema/iso/iso639-3/eng/iso639-3.json">/schema/iso/iso639-3/eng/iso639-3.json</a></li>
      <li><a
          href="/schema/iso/iso639-3/eng/iso639-3_macrolanguages.json">/schema/iso/iso639-3/eng/iso639-3_macrolanguages.json</a>
      </li>
    </ul>
  </li>
  <li>GraphQL Schema <sup>(beta)</sup>
    <ul>
      <li><a href="/schema/iso/iso639-3/eng/iso639-3.graphql">/schema/iso/iso639-3/eng/iso639-3.graphql</a></li>
    </ul>
  </li>
</ul>
<h3 id="iso-15924">ISO 15924</h3>
<ul>
  <li><strong>Descrição</strong>: Codes for the representation of names of scripts</li>
  <li><strong>Sites oficiais</strong>:
    <ul>
      <li><a href="https://www.unicode.org/iso15924/">https://www.unicode.org/iso15924/</a></li>
      <li><a
          href="https://www.iso.org/obp/ui/#iso:std:iso:15924:ed-1:v1:en">https://www.iso.org/obp/ui/#iso:std:iso:15924:ed-1:v1:en</a>
      </li>
    </ul>
  </li>
  <li><strong>Download</strong>:
    <ul>
      <li><a href="https://www.unicode.org/iso15924/iso15924.txt">https://www.unicode.org/iso15924/iso15924.txt</a></li>
    </ul>
  </li>
  <li><strong>Wikipédia</strong>
    <ul>
      <li>por: <a href="https://pt.wikipedia.org/wiki/ISO_15924">https://pt.wikipedia.org/wiki/ISO_15924</a></li>
      <li>eng: <a href="https://en.wikipedia.org/wiki/ISO_15924">https://en.wikipedia.org/wiki/ISO_15924</a></li>
    </ul>
  </li>
</ul>
<h4 id="in-english">In English</h4>
<ul>
  <li>JSON Schema:<ul>
      <li><a href="/schema/iso/iso15924/eng/iso15924.json">/schema/iso/iso15924/eng/iso15924.json</a></li>
    </ul>
  </li>
</ul>
