<h3 id="hapi-minimantmhxl">hapi-miniman.tm.hxl</h3>
<ul>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1ih3ouvx_n8W5ntNcYBqoyZ2NRMdaA0LRg5F9mGriZm4/edit#gid=816634241">
      hapi-miniman.tm.hxl
    </a>
  </li>
</ul>
<h3 id="hapi-apitmhxl">hapi-api.tm.hxl</h3>
<ul>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1ih3ouvx_n8W5ntNcYBqoyZ2NRMdaA0LRg5F9mGriZm4/edit#gid=1680147913">
      hapi-api.tm.hxl
    </a>
  </li>
</ul>
<h3 id="schemamtmhxl">schemam.tm.hxl</h3>
<ul>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1ih3ouvx_n8W5ntNcYBqoyZ2NRMdaA0LRg5F9mGriZm4/edit#gid=1345709789">
      schemam.tm.hxl
    </a>
  </li>
</ul>
<h3 id="communetmhxl">commune.tm.hxl</h3>
<ul>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1ih3ouvx_n8W5ntNcYBqoyZ2NRMdaA0LRg5F9mGriZm4/edit#gid=355011653">
      commune.tm.hxl
    </a>
  </li>
</ul>
