<!-- _includes/schemam/item.html -->
{% assign rem = include.rem %}
{% assign h_1 = include.initiale_html_hN %}
{% assign h_2 = h_1 | plus: 1 %}
{% assign h_3 = h_2 | plus: 1 %}
{% assign h_4 = h_3 | plus: 1 %}
{% assign h1 = h_1 | | prepend: 'h' %}
{% assign h2 = h_2 | | prepend: 'h' %}
{% assign h3 = h_3 | | prepend: 'h' %}
{% assign h4 = h_4 | | prepend: 'h' %}

<div class="px-4 py-5 my-5 text-center">
  <{{ h1 }} id="{{ rem.slug }}" class="display-5 fw-bold">
    {{ rem.nomen }}
    </{{ h1 }}>
  <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        {{ rem.summarius }}
      </p>
  </div>
</div>

{% include commune/html-dl-rem-circa.html rem=rem %}

{% include commune/html-dl-rem-archivum.html rem=rem %}
