<!-- _includes/schemam/item.html -->
{% assign rem = include.rem %}
{% assign h_1 = include.initiale_html_hN %}
{% assign h_2 = h_1 | plus: 1 %}
{% assign h_3 = h_2 | plus: 1 %}
{% assign h_4 = h_3 | plus: 1 %}
{% assign h1 = h_1 | | prepend: 'h' %}
{% assign h2 = h_2 | | prepend: 'h' %}
{% assign h3 = h_3 | | prepend: 'h' %}
{% assign h4 = h_4 | | prepend: 'h' %}

<div class="px-4 py-5 my-5 text-center">
  <{{ h1 }} id="{{ rem.slug }}" class="display-5 fw-bold">
    {{ rem.nomen }}
    </{{ h1 }}>
  <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        {{ rem.summarius }}
      </p>
  </div>
</div>

{% include commune/html-dl-rem-circa.html %}

<dl>
  <!-- Web sites -->
  {% if rem.datum.situs_interretialis %}
    <dt>
      {% _🗣️ situs_interretialis_nomen 🗣️_ %}
    </dt>
    <dd>
      <dl style="padding-left: 2em;">
        {%- if rem.datum.situs_interretialis.referens_officinale %}
          <dt>
            {% _🗣️ referens_officinale_nomen 🗣️_ %}
          </dt>
          {% for situs in rem.datum.situs_interretialis.referens_officinale %}
          <dd>
            <a href="{{ situs.iri }}">
              {{ situs.nomen | default: situs.iri }}
            </a>
          </dd>
          {%- endfor %}
        {% endif %}
        {%- if rem.datum.situs_interretialis.vicipaedia %}
          <dt>
            {% _🗣️ vicipaediam_nomen 🗣️_ %}
          </dt>
          {% for situs in rem.datum.situs_interretialis.vicipaedia %}
          <dd>
            <a href="{{ situs.iri }}">
              {{ situs.nomen | default: situs.iri }}
            </a>
          </dd>
          {%- endfor %}
        {% endif %}
        {%- if rem.datum.wikidatum %}
          <dt>
            {% _🗣️ wikidatum_nomen 🗣️_ %}
          </dt>
          {% for situs in rem.datum.wikidatum %}
          <dd>
            <a href="{{ situs.codicem | prepend: 'https://www.wikidata.org/wiki/' }}">
              {{ situs.codicem }}
            </a>
          </dd>
          {%- endfor %}
        {% endif %}
      </dl>
    </dd>
  {% endif %}
</dl>

<!-- TODO: _[por-Latn] Melhorar aparencia aqui [por-Latn]_ -->

{% include commune/html-dl-rem-archivum.html %}

<dl>
  <!-- Download of files -->
  {% if rem.datum.archivum %}
    <dt>
      {% _🗣️ download_nomen 🗣️_ %}
    </dt>
    <dd>
      <dl style="padding-left: 2em;">
        {%- if rem.datum.archivum.referens_officinale %}
          <dt>
            {% _🗣️ referens_officinale_nomen 🗣️_ %}
          </dt>
          {% for situs in rem.datum.archivum.referens_officinale %}
          <dd>
            <a href="{{ situs.iri }}" class="btn btn-secondary">
              {{ situs.nomen | default: situs.iri }}
            </a>
          </dd>
          {%- endfor %}
        {% endif %}

        {%- if rem.datum.archivum %}

          {%- if rem.datum.archivum.schemam.graphql %}
            <dt>
              {% _🗣️ graphql_schemam_nomen 🗣️_ %}
            </dt>
            {% for rem in rem.datum.archivum.schemam.graphql %}
            <dd>
              <a href="{{ rem.iri }}" class="btn btn-primary">
                {{ rem.nomen | default: rem.iri }}
              </a>
            </dd>
            {%- endfor %}
          {% endif %}

          {%- if rem.datum.archivum.schemam.json %}
            <dt>
              {% _🗣️ json_schemam_nomen 🗣️_ %}
            </dt>
            {% for rem in rem.datum.archivum.schemam.json %}
            <dd>
              <a href="{{ rem.iri }}" class="btn btn-primary">
                {{ rem.nomen | default: rem.iri }}
              </a>
            </dd>
            {%- endfor %}
          {% endif %}

          {%- if rem.datum.archivum.schemam.sql %}
            <dt>
              {% _🗣️ SQL_abbreviationem_nomen 🗣️_ %}
            </dt>
            {% for rem in rem.datum.archivum.schemam.sql %}
            <dd>
              <a href="{{ rem.iri }}" class="btn btn-primary">
                {{ rem.nomen | default: rem.iri }}
              </a>
            </dd>
            {%- endfor %}
          {% endif %}

        {% endif %}
      </dl>
    </dd>
  {% endif %}
</dl>

