---
layout: defallo
---

<div style="border-style: dotted; border-width: 2px; border-color: #ccc">

  <h2 style="text-align: center;">{% include fn/Conatum prefix='Temp_hapi_api_titulo_h2' %}</h2>

  <div id="swagger-ui"></div>

  <aside style="max-width: 800px; margin: 0 auto;">
    <h3>{% _🗣️ PDF_archivum_salvandum_nomen 🗣️_ %}</h3>
    <rapi-pdf style="width:700px; height:40px; font-size:18px;" spec-url="{{ openapi_filum }}"
        button-bg="#b44646">
    </rapi-pdf>
  </aside>

  <aside class="alert alert-info" style="margin-top: 2em">
    <p>
      {% _🗣️ Hapi_paginam_API_commentarium_1 🗣️_ %}
    </p>
    <p>
      {% _🗣️ Hapi_paginam_API_commentarium_2 🗣️_ %}
    </p>
  </aside>
</div>
