<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'la' }}" dir="ltr">

{%- include meta-caput.html -%}

<body class="{{ page.html_body_class | join: ' ' }}">

  {%- include caput-ltr.html -%}
  {%- include peritum-modum/paginam-experimentum.html -%}

  <header class="container">
    <h1>{{ page.titulum | default: page.title }}</h1>
    {{ page.descriptionem | default: page.description | markdownify }}

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="peritum-modum-est">
      <label class="form-check-label" for="peritum-modum-est">
        🛠️{% _🗣️ Hapi_peritum_modum_est_nomen 🗣️_ %}🛠️
      </label>
    </div>

    {% if page.speciale_html %}
    {{ page.speciale_html | liquify }}
    {% endif %}
    {% if page.toc %}
    <hr>
    <nav id="mensam-de-contentis-in-eode">
      <h2 style="font-size: 1.2em;">
        {% _🗣️ mensam_de_contentis_in_eodem_nomen 🗣️_ %}
      </h2>
      {{ content | toc_only }}
    </nav>
    <hr>
    {% endif %}
  </header>

  <main class="page-content" aria-label="Content">
    <div class="container">
      {{ content }}

      {% include alternativum-linguam.html rem=page initiale_html_hN=2 %}
    </div>
  </main>

  {%- include pedem.html -%}
  {%- include peritum-modum/paginam-experimentum.html -%}

  {%- include peritum-modum/instrumentum-balteum.html -%}

</body>

</html>
