<!DOCTYPE html>
<html lang="mul" dir="ltr" translate="yes">
<!--
  TODO: _[eng] The dir="ltr" on defallo-mul-Zyyy should ideally be somewhat
               dynamically based on the user browser. Or at least allow user
               select both site directionality and language so all strings
               are loaded based on user preferences.
               This definitely would need some help of web developers from other
               world regions than western ones
               (Emerson Rocha, 2021-06-08 07:30 UTC)
        [eng]_
        _[lat] GitHub pittacium '✏<-✏':
               https://github.com/HXL-CPLP/Auxilium-Humanitarium-API/labels/✏<-✏
               Adjuva nos 🥺 
        [lat]_
-->
{% include meta-caput.html -%}

<body>
  <header class="container">
    <h1>{{ page.titulum | default: page.title }}</h1>
    <p>{{ page.description | markdownify }}</p>
    {% if page.speciale_html %}
    {{ page.speciale_html | liquify }}
    {% endif %}
    {% if page.toc %}
    <nav id="mensam-de-contentis-in-eode">
      <h2 style="font-size: 1.2em;" lang="la">
        {% _🗣️ 📝lat-Latn📝 mensam_de_contentis_in_eodem_nomen 📝lat-Latn📝 🗣️_ %}
      </h2>
      {{ content | toc_only }}
    </nav>
    {% endif %}
    
  </header>
  <main class="page-content" aria-label="Content">
    <div class="container">
      {{ content }}
    </div>
  </main>

  {%- include pedem-mul-Zyyy.html -%}

  {%- include peritum-modum/instrumentum-balteum.html -%}

</body>

</html>
