---
layout: defallo-ltr
---
<h1>TODO: finalizar schemam</h1>


<pre>
  {{- page | bellum_json -}}
</pre>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">
    {% _🗣️ Hapi_ad_agendum_MMXXI_titulum 🗣️_ %}
  </h1>
  <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        {% _🗣️ Hapi_ad_agendum_MMXXI_commentarium 🗣️_ %}
      </p>
  </div>
</div>


<section>
  <h2>{% _🗣️ licentiam_nomen 🗣️_ %}</h2>
  <a href="https://unlicense.org/">
    <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png"
      alt="{% _🗣️ dominium_publicum_nomen 🗣️_ %}">
  </a>
  <br>
  {% de_markdown %}{% _🗣️ Hapi_licentiam_Hapi_descriptionem 🗣️_ %}{% endde_markdown %}
</section>
