---
layout: defallo-mul-Zyyy
---
{% include xdefallo-linguam-notitia.html %}
{% include api/index-xdefallo.html xapi=page initiale_html_hN=2 %}

{% comment %} {% for api_alt in page.alternativum %}
  {% if api_alt.url == page.url %}
    {% continue %}
  {% endif %}
  <article>
    <h2>
      <a href="{{ api_alt.url }}">
      {{ api_alt.title }}
      </a>
    </h2>
    <dl>
      <dt><mark la="la">Linguam</mark></dt>
      <dd>{{ api_alt.linguam }}</dt>
      <dt><mark la="la">Dēscrīptiōnem</mark></dt>
      <dd>{{ api_alt.summarius }}</dt>
      <dt>{% _🗣️ abbreviationem_XZ_URL_canonicum_nomen 🗣️_ %}</dt>
      <dd><a href="{{ api_alt.url }}">{{ api_alt.url }}</a></dt>
      {% if api_alt.openapi_filum %}
      <dt>{% _🗣️ OpenAPI_archivum_nomen 🗣️_ %}</dt>
      <dd><a href="{{ api_alt.openapi_filum }}">{{ api_alt.openapi_filum }}</a></dt>
      {% endif %}
    </dl>
  </article>
{% endfor %}

<hr> {% endcomment %}
