---
layout: defallo-mul-Zyyy
---

<hr>

<pre>
{{- page | bellum_json -}}
</pre>

<hr>
<div class="alert alert-info" role="alert">
  <ul>
    <li>{% de_markdown %}{% _🗣️ 📝lat-Latn📝 Hapi_paginam_discretiva_linguam_summarius 📝lat-Latn📝 🗣️_ %}{% endde_markdown %}</li>
    <li>{% de_markdown %}{% _🗣️ 📝por-Latn📝 Hapi_paginam_discretiva_linguam_summarius 📝por-Latn📝 🗣️_ %}{% endde_markdown %}</li>
    <li>{% de_markdown %}{% _🗣️ 📝eng-Latn📝 Hapi_paginam_discretiva_linguam_summarius 📝eng-Latn📝 🗣️_ %}{% endde_markdown %}</li>
  </ul>
</div>
