---
layout: null
title: "Plures linguae index - Auxilium Humanitarium API documentōrum"
description: Plures linguae index - Auxilium Humanitarium API documentōrum
linguam: mul-Zyyy
permalink: /mul/
categories: ['work', 'code']
tags: ['work', 'code']
noindex: true
sitemap:
  exclude: 'yes'

# Trivia:
#  - mappam
#    - https://en.wiktionary.org/wiki/mappa#Latin
#  - '🌐'
#    - https://emojipedia.org/globe-with-meridians/
---

<!doctype html>
<html lang="{{ page.lang | default: 'mul' }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>{{ page.title }}</title>
  <meta name="robots" content="noindex,nofollow">
</head>

<body>
  <header>
    <div class="container">
      <h1 lang="la">Mappam Situm - Auxilium Humanitarium API documentōrum</h1>
      <div class="alert alert-warning" role="alert">
        <p>{% _🗣️ opus_in_progressu_emoji_nomen 🗣️_%}</p>
        <p>{% _🗣️ 📝eng-Latn📝 opus_in_progressu_emoji_nomen 📝eng-Latn📝 🗣️_%}</p>
        <p>{% _🗣️ 📝spa-Latn📝 opus_in_progressu_emoji_nomen 📝spa-Latn📝 🗣️_%}</p>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <aside>
        <h2>Trivia</h2>
        <p>
          <ul>
            <li><samp>situm</samp>
              <ul>
                <li><a href="https://en.wiktionary.org/wiki/situs#Latin">https://en.wiktionary.org/wiki/situs#Latin</a></li>
              </ul>
            </li>
            <li><samp>mappam</samp>
              <ul>
                <li><a href="https://en.wiktionary.org/wiki/mappa#Latin">https://en.wiktionary.org/wiki/mappa#Latin</a></li>
              </ul>
            </li>
            <li><samp>pāginam</samp>
              <ul>
                <li><a href="https://en.wiktionary.org/wiki/pagina#Latin">https://en.wiktionary.org/wiki/pagina#Latin</a></li>
              </ul>
            </li>
          </ul>
        </p>
      </aside>
      <section>
        <article>
          <h2>API</h2>
          {% for item_group in site.data.hapi.api_xdefallo %}
          <article>
            <h3>{{ item_group.title }}</h3>
            <dl>
              <dt>{% _🗣️ abbreviationem_XZ_URL_canonicum_nomen 🗣️_ %}</dt>
              <dd><a href="{{ item_group.url }}">{{ item_group.url }}</a></dd>
            </dl>
            {% for item_alt in item_group.alternativum  %}
              {% if item_alt.url != item_group.url %}
                <article>
                  <h4>{{ item_alt.title | default: item_alt.namen }}</h4>
                  <dl>
                    <dt>{% _🗣️ abbreviationem_XZ_URL_canonicum_nomen 🗣️_ %}</dt>
                    <dd><a href="{{ item_alt.url }}">{{ item_alt.url }}</a></dd>
                  </dl>
                </article>
              {% endif %}
            {% endfor %}
          </article>
          {% endfor %}
        </article>
        <article>
          <h2>API per gid</h2>
          {{ site.data.hapi }}
          <br>
          <br>
          <br>
          site.data.hapi.api_xdefallo
          {{ site.data.hapi.api_xdefallo | inspect }}
          <br>
          <br>
          site.data.hapi['api_gid_xdefallo']
          {{ site.data.hapi['api_gid_xdefallo'] | inspect }}
          <br>
          <br>
          <br>
          site.data.hapi.api_gid_xdefallo

          {{ site.data.hapi.api_gid_xdefallo | inspect }}
          <br>
          <br>
          <br>
          {% for api_gid in site.data.hapi.api_gid_xdefallo %}
          <article>
            <h3>{{ api_gid.gid }}</h3>
            <dl>
              <dt>{% _🗣️ abbreviationem_XZ_URL_canonicum_nomen 🗣️_ %}</dt>
              <dd><a href="{{ item_group.url }}">{{ item_group.url }}</a></dd>
            </dl>
            {% for item_alt in item_group.alternativum  %}
              {% if item_alt.url != item_group.url %}
                <article>
                  <h4>{{ item_alt.title | default: item_alt.namen }}</h4>
                  <dl>
                    <dt>{% _🗣️ abbreviationem_XZ_URL_canonicum_nomen 🗣️_ %}</dt>
                    <dd><a href="{{ item_alt.url }}">{{ item_alt.url }}</a></dd>
                  </dl>
                </article>
              {% endif %}
            {% endfor %}
          </article>
          {% endfor %}
        </article>

        <article>
          <h2>Categoriam</h2>
          {% for cat in site.data.hapi.categoriam %}
            <article>
              <h3>{{ cat.title }}</h3>
            </article>
          {% endfor %}
        </article>

        <article>
          <h2>Tags</h2>
          {% for tag in site.data.hapi.pittacium %}
            <article>
              <h3>{{ tag.title }}</h3>
            </article>
          {% endfor %}
        </article>
      
      </section>
      <div>
        <h2>Testum</h2>


        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% assign links = site.data.l10n.mappam-situml10n.grupum %}
            {% for link in links %}
              {% assign class = nil %}
              {% if page.url contains link.url %}
                  {% assign class = 'active' %}
              {% endif %}
              {% if link.descendens %}
                <li class="nav-item dropdown {{ class }}">
                  <a class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false"
                    id="navigationem-descendens-{{ forloop.index0 }}" href="#">
                    {% if link.titulum %}
                      <abbr title="{{ link.titulum | liquify | strip_html }}">{{ link.namen }}</abbr>
                    {% else %}
                      {{ link.namen | liquify }}
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu"
                    aria-labelledby="navigationem-descendens-{{ forloop.index0 }}">
                    {% for sublink in link.descendens %}
                        {% if sublink.namen == 'separator' %}
                          <li role="separator" class="divider"></li>
                        {% elsif sublink.debile %}
                        <li class="nav-item">
                          <a class="nav-link disabled" tabindex="-1"
                            aria-disabled="true" href="#">
                            {{ sublink.namen | liquify }}
                          </a>
                        </li>
                        {% else %}
                          <li>
                            <a class="dropdown-item"
                              href="{{ site.url }}{{ site.baseurl }}{{ sublink.url | liquify | strip_html }}">
                              {% if sublink.titulum %}
                                <abbr title="{{ sublink.titulum | liquify | strip_html }}">{{ sublink.namen }}</abbr>
                              {% else %}
                                {{ sublink.namen | liquify }}
                              {% endif %}
                            </a>
                          </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                  </li>
              {% else %}
                <li class="nav-item {{ class }}">
                  <a class="nav-link"
                    href="{{ site.url }}{{ site.baseurl }}{{ link.url | liquify | strip_html }}">
                    {% if link.titulum %}
                      <abbr title="{{ link.titulum | liquify | strip_html }}">{{ link.namen }}</abbr>
                    {% else %}
                      {{ link.namen | liquify }}
                    {% endif %}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      <h2>Debug</h2>
      <h3>etc</h3>
      
      <p>https://talk.jekyllrb.com/t/category-page-need-a-page-with-a-link-to-all-posts-of-a-category/2997/2<p>
      <p>https://talk.jekyllrb.com/t/collect-items-from-multiple-collections-and-organize-by-tag/1645/5<p>
      <pre>{{ site.categories }}</pre>
      <pre>{{ site.categories }}</pre>
      <pre>{{ page.categories }}</pre>
      <pre>{{ site.tags }}</pre>
      <pre>{{ page.tags }}</pre>
      <pre>{{ site.keys | bellum_json }}</pre>
      <h3>mappam-situm.l10n</h3>
      <pre>{{ site.data.l10n.mappam-situml10n.grupum | bellum_json }}</pre>
      <h3>mappam-situm</h3>
      <pre>{{ site.data.mappam-situm.grupum | bellum_json }}</pre>
      <h2>Pāginam</h2>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>

</html>
