# ARQUIVO:         api/BR/portais-arcgis-brasil/por/openapi.yaml
# LICENÇA:         SPDX-License-Identifier: Unlicense
#
# VERSÃO ONLINE:  https://editor.swagger.io/?url=https://hapi.etica.ai/api/BR/portais-arcgis-brasil/por/openapi.yaml

openapi: 3.0.3
# NOTE: o arquivo atual, nesta data de 2021-05-02, usa OpenAPI 3.0 pois
#       a OpenAPI 3.1 é muito recente (lançada em 2021-02-15) e poucas
#       ferramentas tem suporte a ela. A migração para o 3.1 deve ser feita
#       eventualmente.
# @see https://spec.openapis.org/oas/v3.0.3
# @see https://spec.openapis.org/oas/v3.1.0

info:
  title: Portais CKAN de dados abertos do Brasil
  description: |
    **Version in English: `api/BR/brazilian-ckan-portals/eng/openapi.yaml`**

    Discussão em https://github.com/HXL-CPLP/COD-Services-API-doc/issues/4

    Veja também: 
     - https://github.com/dadosgovbr/catalogos-dados-brasil/blob/master/dados/catalogos.csv
     - [catalogos.csv via HXL-Proxy](https://proxy.hxlstandard.org/data/edit?tagger-match-all=on&tagger-01-header=titulo&tagger-01-tag=%23item+%2Bname+%2Bi_por&tagger-02-header=url&tagger-02-tag=%23item+%2Burl&tagger-03-header=municipio&tagger-03-tag=%23adm3+%2Bname+%2Bi_por&tagger-04-header=uf&tagger-04-tag=%23adm2+%2Bcode&tagger-05-header=esfera&tagger-05-tag=%23status+%2Bpor_esfera&tagger-06-header=poder&tagger-06-tag=%23status+%2Bpor_poder&tagger-07-header=solucao&tagger-07-tag=%23item+%2Bpor_solucao&url=https%3A%2F%2Fraw.githubusercontent.com%2Fdadosgovbr%2Fcatalogos-dados-brasil%2Fmaster%2Fdados%2Fcatalogos.csv&header-row=1&dest=data_view)
     - Filtrado CKAN
       - [catalogos.csv via HXL-Proxy](https://proxy.hxlstandard.org/data/edit?dest=data_edit&filter01=sort&filter-label01=%23adm2%2Bcode+ordering&sort-tags01=%23adm2%2Bcode&filter02=select&filter-label02=%23item%2Bpor_solucao%3DCKAN&select-query02-01=%23item%2Bpor_solucao%3DCKAN&tagger-match-all=on&tagger-01-header=titulo&tagger-01-tag=%23item+%2Bname+%2Bi_por&tagger-02-header=url&tagger-02-tag=%23item+%2Burl&tagger-03-header=municipio&tagger-03-tag=%23adm3+%2Bname+%2Bi_por&tagger-04-header=uf&tagger-04-tag=%23adm2+%2Bcode&tagger-05-header=esfera&tagger-05-tag=%23status+%2Bpor_esfera&tagger-06-header=poder&tagger-06-tag=%23status+%2Bpor_poder&tagger-07-header=solucao&tagger-07-tag=%23item+%2Bpor_solucao&header-row=1&url=https%3A%2F%2Fraw.githubusercontent.com%2Fdadosgovbr%2Fcatalogos-dados-brasil%2Fmaster%2Fdados%2Fcatalogos.csv)

  version: "3" # 3 por causa que o CKAN usa 3, https://docs.ckan.org/en/2.9/api/

# Usamos na nomenclatura ISO 3166-2:BR
# https://en.wikipedia.org/wiki/ISO_3166-2:BR
# Sobre URNS do Brasil
#   - https://docs.google.com/spreadsheets/d/16SW1kOv01IKcdO5nZvGjnjat7DrUqFem4mcWC2OQbz4/edit#gid=332977705
servers:
  - url: https://data.humdata.org/api/3/action
    description: "(TODO: Remove this) HDX Production server"

  - url: https://dados.gov.br/api/3/action
    description: "{[ISO 3166-1:BR]} Portal Brasileiro de Dados Abertos"

  - url: https://dados.al.gov.br/api/3/action
    description: "{[urn:data:xz:iso:BR-AC][urn:data:un:p:BR27]} Alagoas em dados e informações"

  # CORS OK
  - url: https://dados.fortaleza.ce.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-CE][urn:data:un:p:BR2304400]} Fortaleza Dados Abertos"

  - url: https://dados.df.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-DF][urn:data:un:p:BR5300108]} Dados abertos Distrito Federal"

  # FIXME: não é mais CKAN http://www.transparencia.mg.gov.br/dados-abertos
  # - url: ???
  #   description: "{[urn:data:xz:iso:3166-2:BR-MG][urn:data:un:p:BR31]} Dados abertos – Estado de MG"

  - url: https://dados.pbh.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-MG][urn:data:un:p:BR3106200]} Portal de Dados Abertos – Prefeitura de Belo Horizonte"

  # HTTPS quebrada
  - url: http://web.transparencia.pe.gov.br/dados-abertos/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-PE][urn:data:un:p:BR26]} Dados Abertos – Portal da Transparência de Pernambuco"

  # CORS OK
  # HTTPS quebrada
  - url: http://dados.recife.pe.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-PE][urn:data:un:p:BR2611606]} Dados Recife"

  # FIXME: não é mais CKAN https://www.data.rio/
  #        Agora é arcgis

  # HTTPS quebrada
  - url: http://dados.natal.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RN][urn:data:un:p:BR2408102]} Portal da Transparência e Mobilidade Urbana de Natal"

  - url: https://dados.rs.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RS][urn:data:un:p:BR43]} Dados RS"

  - url: https://dados.tce.rs.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RS][urn:data:un:p:BR43]} Dados Abertos TCE-RS"

  # CORS OK
  - url: https://dados.portoalegre.rs.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-RS][urn:data:un:p:BR4314902]} Dados Abertos POA"

  # HTTPS quebrada
  - url: http://dados.sc.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-SC][urn:data:un:p:BR42]} Dados Abertos SC"

  - url: https://www.governoaberto.sp.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-SP][urn:data:un:p:BR35]} Governo Aberto SP"

  # CORS OK
  # HTTPS quebrada
  - url: http://dados.prefeitura.sp.gov.br/api/3/action
    description: "{[urn:data:xz:iso:3166-2:BR-SP][urn:data:un:p:BR3550308]} Portal de Dados Abertos da Cidade de São Paulo"

tags:
  - name: "List and search"
    description: |
      Search an list collections

  - name: "Details"
    description: |
      Details about an item

paths:
  /package_list:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/package_list"

  /package_search:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/package_search"

  /vocabulary_list:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/vocabulary_list"

  /package_show:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/package_show"

  /resource_show:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/resource_show"

  /vocabulary_show:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/vocabulary_show"

  /tag_show:
    $ref: "../../../../schema/api/ckan/por/ckan-openapi.yaml#/operationem/tag_show"
