# FILE:            CODV2API-eng.openapi.yaml
# LICENSE:         Unlicense
#
# ONLINE VERSION:  https://editor.swagger.io/?url=https://hapi.etica.ai/HDX/CODV2API-eng.openapi.yaml
#
# README FIRST!:   This file uses OpenAPI syntax (https://www.openapis.org/),
#                  a de facto non-proprietary industry standard to document
#                  APIs.
#                  Consider as starting point:
#                    - Use this online editor https://editor.swagger.io/
#                    - Check this https://openapi.tools/ for compatible tools


openapi: 3.0.3
# NOTE: the current file, as 2021-05-01, uses OpenAPI 3.0 because 3.1 still too
#       new (released 2021-02-15). But some comments already consider future
#       upgrade.
# @see https://spec.openapis.org/oas/v3.0.3
# @see https://spec.openapis.org/oas/v3.1.0

info:
  title: COD Version 2 API (English)
  description: |

    This resource, using [OpenAPI 3.0 specification](https://www.openapis.org/)
    and [dedicated to public domain](https://unlicense.org/), is an
    [HXL-CPLP volunteers user group](https://github.com/HXL-CPLP) initiative
    to document the [COD Version 2 API](https://beta.itos.uga.edu/CODV2API/) in
    Portuguese language. Use of resource (recommended: see
    [Open API Tools](https://openapi.tools/)) to make integrations and
    translations to other natural languages.

    **Important:** HXL-CPLP, translators, volunteers or third-party
    projects using the OpenAPI file are not affiliated with the API providers.
    Use of public domain like licenses (when viable) on derived work is
    encouraged.

    ## About the API

    The API is built for humanitarian information management. Some
    [UN OCHA](https://www.unocha.org/) activities are encapsulated in this
    tool with respect to Common Operational Datasets maintenance.
    Find metadata and location information and gazeteer type output for the
    CODs compatible for applications and for visualizations.
    The scope of the data varies but comprises enhanced CODs processed in
    OCHA workflows for roughly 50 countries (as shown in the
    [COD dashboard](https://cod.unocha.org/)) in the humanitarian support
    sphere. For more information see the
    [About page](https://beta.itos.uga.edu/CODV2API/Home/About).
    Enjoy and comments welcome at ocha-fis-data@un.org.

    ## What are CODs?
    Common Operational Datasets (CODs) are authoritative reference datasets
    needed to support operations and decision-making for all actors in a
    humanitarian response. CODs are 'best available' datasets that ensure
    consistency and simplify the discovery and exchange of key data for the
    humanitarian community.

  version: "2"

  # termsOfService copied from "Privacy" link at https://beta.itos.uga.edu/CODV2API/Home/About
  termsOfService: https://eits.uga.edu/access_and_security/infosec/pols_regs/policies/privacy/
  license:
    name: Several license types
    url: https://data.humdata.org/about/license
  contact:
    name: OCHA Field Information Services
    url: https://data.humdata.org/user/ocha-fis-data
    email: ocha-fis-data@un.org

servers:
  - url: https://beta.itos.uga.edu/CODV2API/api/v1
    description: COD Version 2 API production server

# NOTE: for maintainers, the Team Digitale have a few references about OpenAPI
#       and CKAN. For example, the file
# https://github.com/teamdigitale/api-openapi-samples/blob/master/external-apis/api.daf.teamdigitale.it.yaml.src
paths:
  /locations:
    get:
      parameters:
        - in: query
          name: limit
          description: >
            If given, the list of datasets will be broken into pages of at most
            `limit` datasets per page and only one page will be returned at a time
          required: false
          schema:
            type: integer
            default: 250
            # NOTE: is possible to not use a default and display EVERYTING.
            #       But this can freeze user browser even if a 200kb response.
        - in: query
          name: offset
          description: >
            When `limit` is given, the `offset` to start returning packages from
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: >
            Return a list of the names of the site’s datasets (packages).

            See also:
              - https://docs.ckan.org/en/2.9/api/#ckan.logic.action.get.package_list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CkanReply'
  /tag_list: {}
  # TODO: /tag_list 
  # https://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.tag_list

  /tag_show: {}
  # TODO: /tag_show 
  # https://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.tag_show


components:
  # NOTE: OpenAPI 3.0 seems to not allow use $ref outside schemas
  #       (but OpenAPI 3.1 allow it), but the teamdigitale/api-openapi-samples
  #       uses this as part of build scripts. We will keep it simple without
  #       use extra steps.
  # responses:
  #   CkanResponse:
  #     description: >-
  #       Standard Ckan Reply. See http://docs.ckan.org/en/latest/api/index.html.

  schemas:
    CkanReply:
      # From teamdigitale/api-openapi-samples
      type: object
      required:
        - result
        - success
        - help
      properties:
        success:
          type: string
        result:
          anyOf:
            - type: object
            - type: array
        error:
          type: object
        help:
          type: string
          format: url
        status:
          type: boolean
          enum:
            - true
            - false
