{% if page.html_body_class contains 'paginam-experimentum-est' or page.opus_in_progressu %}
<div class="paginam-experimentum-gradient"></div>
<div class="paginam-experimentum-textum">
  _[lat]<strong lang="la">Harenarium</strong>[lat]_ &#160;&#160;&#160;
  _[ara]<strong lang="ar">ملعب</strong>[ara]_ &#160;&#160;&#160;
  _[zho]<strong lang="zh">沙盒</strong>[zho]_ &#160;&#160;&#160;
  _[hin]<strong lang="hi">प्रयोगस्थल</strong>[hin]_ &#160;&#160;&#160;
  _[rus]<strong lang="ru">Песочница</strong>[rus]_ &#160;&#160;&#160;
  _[kor]<strong lang="ko">연습장</strong>[kor]_ &#160;&#160;&#160;
  _[por]<strong lang="pt">Página de testes</strong>[por]_ &#160;&#160;&#160;
  _[spa]<strong lang="es">Zona de pruebas</strong>[spa]_ &#160;&#160;&#160;
  _[eng]<strong lang="en">Sandbox</strong>[eng]_ &#160;&#160;&#160;
  _[ger]<strong lang="de">Spielwiese</strong>[ger]_ &#160;&#160;&#160;
</div> 
<div class="paginam-experimentum-gradient"></div>  
{% endif %}
